nav {
    display: flex;
	justify-content: center;
	align-items: center;
	background-color: skyblue;
	min-height: 30vh;
	border: 2px solid black;
}
nav ul{
    display: flex;
    justify-content: right;
    align-items: right;
    width: 100%;
    list-style: none;
    
}
li{
    display: flex;
    background-color: brown;
    padding: 1rem;
    color:black;
    margin: 1rem;
}
.cart-button{

}